.v-index {
    padding-top: 102px;
}
.v-index-cont {
    background: url('@{v1}person.png') top center no-repeat;
    background-size: 100%;
    max-width: 1090px;
    padding-top: 320px;
    .auto(x);
}

.v-index-cont-search {
    .size(1080px, 88px);
    .pr;
    .auto(x);
    .clip;
    .r(44px);
    .u-input-style {
        .full;
        .fz(30px, 88px);
        background-color: rgba(255, 255, 255, 0.6);
        text-indent: 46px;
        .color(#104c55);
        input {
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            .tm(1);
        }
        .el-input__inner::placeholder {
            color: #104c55;
        }
    }
    .u-btn-style {
        .pa;
        border: 0;
        .size(178px, 74px);
        .rt(7px, 7px);
        background: url('@{v1}/searchbtn.png') top center no-repeat;
        background-size: 100%;
    }
}

.v-index-list {
    padding-top: 120px;
    padding-bottom: 60px;
    .v-index-list-qq {
        padding-bottom: 14px;
        .u-txt {
            margin-right: 30px;
            .fz(20px);
            .pr;
            .color(#fff);
            .r(10px);
            padding: 4px 30px;
            background-color: rgba(14, 140, 155, 0.6);
            border: 1px solid #fff;
        }
    }
    .v-index-list-box {
        .size(1088px, 192px);
        border: 1px solid #fff;
        .clip;
        .pr;
        .r(10px);
        .u-list-box {
            .full;
            background: #fff;
            filter: blur(10px);
            .tm(0.9);
        }
        .u-list-img {
            .pa;
            .z(2);
            .size(90px, 174px);
            .lt(10px, 10px);
            background: #104c55;
        }
        .u-list-list {
            .pa;
            .z(2);
            ul {
                padding: 0 60px 0 120px;
                .size(900px);
                li {
                    list-style: none;
                    a {
                        .db;
                        .fz(20px, 2);
                        .color(#707070);
                        .u-title {
                            text-decoration: underline;
                        }
                        .u-time {
                            .db;
                            .fr;
                        }
                    }
                }
            }
        }
    }
}
